.wizard-container {
    width: 60vw;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    
  }
   
  .section {
    margin-bottom: 20px;
  }
  
  .section h2 {
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .section p {
    font-size: 16px;
    line-height: 1.6;
  }
  
 
  
  .footer {
    text-align: center;
    margin-top: 10px;
    
  }

  .primary-button {
    background-color: white;
    color:#e65100;
    padding: 6px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    gap: 3px;
    display: flex;
    flex-direction: row;
    margin-right: 90%;
  }
  .Secondary-button {
    background-color: rgb(210, 24, 24);
    color:white;
    padding: 9px 20px;
    
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 10px;
  }
  
  .primary-button:hover {
    background-color: #e65100;
    color:white;
  }
  
